<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    Все скрипты .js должны быть в каталоге static-->

    <script type="text/javascript" src="testJS.js"></script>
    <link href="http://cdn.sencha.com/ext/gpl/4.2.0/resources/css/ext-all.css" rel="stylesheet" />
    <script src="http://cdn.sencha.com/ext/gpl/4.2.0/ext-all.js"> </script>
    <script type="text/javascript" src ="app.js"></script>

    <title>Main page</title>
</head>
<body>
<p>In this table you can manage grid points</p>

<div id="pointsGrid"></div>

</body>
</html>